<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.nigtime456.weather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".screen.daily.activity.DailyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Forecast" />

        <activity
            android:name=".screen.currently.activity.CurrentlyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Forecast" />

        <activity
            android:name=".screen.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.about.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Secondary.About" />

        <activity
            android:name=".screen.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Secondary.Search"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".screen.locations.LocationsActivity"
            android:parentActivityName=".screen.currently.activity.CurrentlyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Secondary.Locations" />

        <activity
            android:name=".screen.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Settings" />
    </application>

</manifest>